<!DOCTYPE html>
<html class="en" lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="expires" content="0" />
<link rel="shortcut icon" type="image/ico" href="favicon_flipr_pg.ico" />
<link rel="stylesheet" href="stylesheets/perfect-scrollbar.css?v=411104" />
<link rel="stylesheet" href="stylesheets/overlay.css?v=411104" />
<link rel="stylesheet" href="stylesheets/style.css?v=411104" />
<link rel="stylesheet" href="stylesheets/lightbox.css?v=411104" />
<link rel="stylesheet" href="stylesheets/uniform.css?v=411104" />
<link rel="stylesheet" href="stylesheets/channel.css?v=411104" />
<link rel="stylesheet" href="stylesheets/old-channel.css?v=431625"/>
<link rel="stylesheet" href="stylesheets/cms-component.css?v=431625">
<title>FLIPr.tv - Program settings</title>
</head>
<body data-mso="flipr">
<div id="fb-root"></div>

<!-- Header Layer Begin -->
<div id="header">
    <img src="images/logo_flipr_pg.png" style="width:103px; height:29px; margin-left:6px; margin-top:6px" />
    <ul id="nav">
        <li id="tv"><span class="fliprOptions hide"><a href="../" target="_blank">Link to FLIPr.tv</a></span></li>
        <li id="profile">
            <p id="btn-profile"></p>
            <p id="selected-profile">Guest</p>
            <ul id="profile-dropdown" class="dropdown">
                <li><a id="profile-logout" href="signin.html">Log out</a></li>
            </ul>
        </li>
    </ul>
</div>
<!-- Header Layer End -->

<!-- Navigation Layer Begin -->
<div id="studio-nav">
    <div class="studio-nav-wrap">
        <h3><a href="index.html"><span class="cms-icon">CMS</span><span class="sub-title">Content Management System</span></a></h3>
        <ul>
            <li class="on"><span><a href="index.html">My Programs</a></span></li>
            <li id="my-portal" class="hide"><span><a href="portal-manage.html">My App</a></span></li>
        </ul>
        <div class="studio-setup">
            <p class="btn-left"><span class="btn-right"><span class="btn-middle"><a href="cms-settings.html"><img src="images/icon_studio_setup.png" alt="" />CMS Settings</a></span></span></p>
            <div class="reconnect-notice hide">
                <img src="images/icon_notification.png" alt="" />
                <p class="notice-left"><span class="notice-right"><span class="notice-middle langkey">Connection is inactive, click to restart it.</span></span></p>
            </div>
        </div>
    </div>
</div>
<!-- Navigation Layer End -->

<!-- Content Layer Begin -->
<div id="content-wrap" class="channel-setting">
    <div id="content-nav">
        <div id="func-nav">
            <ul>
                <!-- template = #func-nav-tmpl -->
            </ul>
        </div>
    </div>
    <div id="main-wrap-slider" class="slider-wrap"><div class="slider-vertical"></div></div>
    <div id="content-main">
        <!-- template = #content-main-tmpl -->
    </div>
</div>
<!-- Content Layer End -->

<!-- Footer Layer Begin -->
<p id="footer-control" class="on"></p>
<div id="footer">
    <span>© 2014 <fliprElm class="fliprOptions hide">FLIPr.tv.</fliprElm> All rights reserved.</span>
</div>
<!-- Footer Layer End -->

<!-- Loading Layer Begin -->
<div id="overlay-s">
    <p class="overlay-content">
        <span class="overlay-right">
            <span class="overlay-middle"><img src="images/icon_load_l.gif" alt="" />Saving...</span>
        </span>
    </p>
</div>
<!-- Loading Layer End -->

<!-- System Error Layer Begin -->
<div id="system-error" class="lightbox-content overlay-l">
    <div class="overlay-container">
        <div class="overlay-wrap">
            <a href="#" class="btn-close">Close</a>
            <p class="content">You are not authorized to edit this program.</p>
            <div class="overlay-btn">
                <p class="btns btn-ok"><span><a href="#">OK</a></span></p>
            </div>
        </div>
    </div>
</div>
<!-- System Error Layer End -->

<!-- Unsave Prompt Layer Begin -->
<div id="unsave-prompt" class="lightbox-content overlay-l">
    <div class="overlay-container">
        <div class="overlay-wrap">
            <a href="#" class="btn-close">Close</a>
            <p class="content">Unsaved changes will be lost, are you sure you want to leave?</p>
            <div class="overlay-btn">
                <p class="btns btn-no"><span><a href="#">No</a></span></p>
                <p class="btns btn-leave"><span><a href="#">Yes</a></span></p>
            </div>
        </div>
    </div>
</div>
<!-- Unsave Prompt Layer End -->

<!-- Facebook Connect Failed2 Layer Begin -->
<div id="fb-connect-failed2" class="lightbox-content overlay-l setup-notice">
    <div class="overlay-container">
        <div class="overlay-wrap channel-connect-fail">
            <a href="#" class="btn-close">Close</a>
            <h5>Can not connect to Facebook correctly!</h5>
            <p class="content">Please try again and make sure you agree on all permissions.</p>
            <div class="overlay-btn">
                <p class="btns btn-ok"><span><a href="#">OK</a></span></p>
            </div>
        </div>
    </div>
</div>
<!-- Facebook Connect Failed2 Layer End -->

<!-- System confirm alert overlay -->
<div id="system-confirm-alert-overlay" class="overlay-h172 youtube-sync-alert">
    <div class="overlay-h172-left"></div>
    <div class="overlay-h172-center">
        <p class="btn-close"></p>
        <img src="images/icon_warning_lg.png" alt="">
        <p class="vMsg"></p>
        <div class="overlay-button-holder">
            <div class="btn-gray">
                <p class="left"></p>
                <p class="center system-confirm-btn scov-no" data-act="no">No</p>
                <p class="right"></p>
            </div>
            <div class="btn-gray">
                <p class="left"></p>
                <p class="center system-confirm-btn scov-yes" data-act="yes">Yes</p>
                <p class="right"></p>
            </div>
        </div>
    </div>
    <div class="overlay-h172-right"></div>
</div>
<!-- System confirm alert overlay End-->

<!-- Youtube sync alert overlay -->
<div id="youtube-sync-alert-overlay" class="overlay-h172 youtube-sync-alert">
    <div class="overlay-h172-left"></div>
    <div class="overlay-h172-center">
        <p class="btn-close"></p>
        <img src="images/icon_warning_lg.png" alt="">
        <p class="vMsg">This program will automatically synchronize videos from video source at 0 AM, 8 AM, 12 PM, 2 PM, 6 PM and 9 PM every day. Are you sure to auto sync?</p>
        <div class="overlay-button-holder">
            <div class="btn-gray">
                <p class="left"></p>
                <p id="no-sync" class="center btn-close">No</p>
                <p class="right"></p>
            </div>
            <div class="btn-gray">
                <p class="left"></p>
                <p id="yes-sync" class="center ">Yes</p>
                <p class="right"></p>
            </div>
        </div>
    </div>
    <div class="overlay-h172-right"></div>
</div>
<!-- Youtube sync alert overlay End-->

<script id="func-nav-tmpl" type="text/x-jquery-tmpl">
{{if cms.global.vIsYoutubeLive !== true}}
<li><a href="episode-list.html?id=${id}" class="episode">${nn._([cms.global.PAGE_ID, 'func-nav', 'Episode list'])}</a></li>
{{/if}}
{{if !cms.global.IS_REMARK}}
<li><a href="channel-poi.html?id=${id}" class="poi">${nn._([cms.global.PAGE_ID, 'func-nav', 'Program POI'])}</a></li>
{{/if}}
<li class="active"><a href="channel-setting.html?id=${id}" class="setting">${nn._([cms.global.PAGE_ID, 'func-nav', 'Settings'])}</a></li>
</script>

<!-- content-main-tmpl Begin -->
<script id="content-main-tmpl" type="text/x-jquery-tmpl">
<div id="title-func" class="clearfix">
    <h2><span id="channel-name" data-width="">
        <a href="index.html">${nn._([cms.global.PAGE_ID, 'title-func', 'Program list'])}</a>  &gt; ${name}</span>
    <span class="title-crumb">: ${nn._([cms.global.PAGE_ID, 'title-func', 'Settings'])}</span></h2>
    <p class="required"><acronym title="Required field" class="mark-required">*</acronym>${nn._([cms.global.PAGE_ID, 'title-func', 'Required field'])}</p>
</div>
<div id="content-main-wrap" class="footer-on">
<div class="constrain">
<form name="settingForm" id="settingForm" method="get" action="" data-height="400">


<!-- IAP Start -->

                        <div class="fminput clearfix">
                            <label for="name">
                                <acronym title="Required field" class="mark-required">*</acronym>${nn._([cms.global.PAGE_ID, 'setting-form', 'Promotion banner'])}</label>
                            <div id="iupPromotion" class="fmfield upload-img banner-thumb">
                                <div class="thumbnail">
                                    <div class="img-wrap imgUpShow {{if '' === bannerImageUrl}}no-image{{/if}}" 
                                        style="{{if '' !== bannerImageUrl}}background-image: url('${bannerImageUrl}'){{/if}}">
                                    </div>
                                </div>

                                <a class="normal-btn imgUploadBtn" href="javascript:void(0);" data-ori="${nn._([cms.global.PAGE_ID, 'setting-form', 'Upload'])}" data-uploading="${nn._([cms.global.PAGE_ID, 'setting-form', 'Uploading...'])}">${nn._([cms.global.PAGE_ID, 'setting-form', 'Upload'])}</a>
                                <input type="file" class="hide toUploadImage" accept="image/*" />

                                <p class="notice img-upload">${nn._([cms.global.PAGE_ID, 'setting-form', 'Better results with 640 x 360 resolution image'])}</p>
                                <p class="notice upload-notice hide">Please upload jpeg, png, or gif files.</p>
                                <input type="hidden" class="imageUrl"    name="bannerImageUrl"    id="bannerImageUrl"    value="${bannerImageUrl}">
                                <input type="hidden" class="imageUrlOld" name="bannerImageUrlOld" id="bannerImageUrlOld" value="${bannerImageUrl}">
                                <a href="" class="icon-question is-with-tooltip">
                                    <div class="tooltip-wrap">
                                        ${nn._([cms.global.PAGE_ID, 'setting-form', 'This banner will be used in some information pages, such as paid program preview page.'])}
                                        
                                    </div>
                                </a>
                            </div>
                        </div>

<!-- IAP end -->


    {{if cms.global.vIsYoutubeSync === true}}
    <div class="fminput clearfix">
        <label for="name">
            <acronym title="Required field" class="mark-required">*</acronym>${nn._([cms.global.PAGE_ID, 'setting-form', 'Add channel or playlist URL'])}</label>
        <div class="fmfield">
            <p class="text disabled">
                <span>
                    <input type="text" name="sourceUrl" id="ytUrl" maxlength="100" value="${sourceUrl}" class="text" disabled="disabled" >
                </span>
            </p>
            <div class="clear">
                <p id="ytSyncMsg" class="validation-failed hide"></p>
            </div>
        </div>
    </div>
    {{else cms.global.vIsYoutubeLive === true}}
    <div class="fminput clearfix">
        <input type="hidden" name="contentType" value="13">
        <label for="name">
            <acronym title="Required field" class="mark-required">*</acronym>${nn._([cms.global.PAGE_ID, 'setting-form', 'Add live video URL'])}</label>
        <div class="fmfield">
            <p class="text">
                <span>
                    <input type="text" name="sourceUrl2" id="ytUrlLive" maxlength="100" value="" class="text" data-ctype="ytlive" data-status="editing" placeholder="${nn._([cms.global.PAGE_ID, 'setting-form', 'Input live video URL...'])}">
                </span>
            </p>
            <div class="clear">
                <p id="ytSyncMsg" class="validation-failed hide"></p>
            </div>
        </div>
    </div>
    {{/if}}
    <div class="fminput clearfix">
        <label for="name"><acronym title="Required field" class="mark-required">*</acronym>${nn._([cms.global.PAGE_ID, 'setting-form', 'Title'])}</label>
        <div class="fmfield">
            <p class="text"><span>
            <input type="text" name="name" id="name" maxlength="100" value="${name}" class="text" /></span></p>
            <span class="notice "><span id="name-charcounter">20</span>　${nn._([cms.global.PAGE_ID, 'setting-form', 'Best within 10 characters'])}</span>
        </div>
    </div>
    <div class="fminput clearfix">
        <label><acronym title="Required field" class="mark-required">*</acronym>${nn._([cms.global.PAGE_ID, 'setting-form', 'Program logo'])}</label>
        <div id="iupLogo" class="fmfield upload-img">
            <div class="thumbnail">
                <div class="img-wrap imgUpShow {{if '' === imageUrl}}no-image{{/if}}" 
                    style="{{if '' !== imageUrl}}background-image: url('${imageUrl}'){{/if}}">
                </div>
            </div>
            <a class="normal-btn imgUploadBtn" href="javascript:void(0);" data-ori="${nn._([cms.global.PAGE_ID, 'setting-form', 'Upload'])}" data-uploading="${nn._([cms.global.PAGE_ID, 'setting-form', 'Uploading...'])}">${nn._([cms.global.PAGE_ID, 'setting-form', 'Upload'])}</a>
            <input type="file" class="hide toUploadImage" accept="image/*" />
            <p class="notice img-upload">${nn._([cms.global.PAGE_ID, 'setting-form', 'Better results with 640x480 or higher resolution image'])}</p>
            <p class="notice upload-notice hide">${nn._([cms.global.PAGE_ID, 'setting-form', 'Please upload jpeg, png, or gif files.'])}</p>
            <input type="hidden" class="imageUrl"    name="imageUrl"    id="imageUrl"    value="${imageUrl}" />
            <input type="hidden" class="imageUrlOld" name="imageUrlOld" id="imageUrlOld" value="${imageUrl}" />
        </div>
    </div>
    <div class="fminput clearfix">
        <label>${nn._([cms.global.PAGE_ID, 'setting-form', 'Description'])}</label>
        <div class="fmfield">
            <p class="textarea"><span><span>
            <textarea name="intro" id="intro" cols="80" class="textarea" >${intro}</textarea></span></span></p>
            <span class="notice "><span id="intro-charcounter">70</span>　${nn._([cms.global.PAGE_ID, 'setting-form', 'Best within 1000 characters'])}</span>
        </div>
    </div>
    <div class="fminput clearfix">
        <label><acronym title="Required field" class="mark-required">*</acronym>${nn._([cms.global.PAGE_ID, 'setting-form', 'Program language'])}</label>
        <div class="fmfield">
            <div class="select enable">
                <p class="select-btn"></p>
                <p class="select-txt"><a id="lang-select-txt" href="#">${nn._([cms.global.PAGE_ID, 'setting-form', 'Select a language'])}</a></p>
                <ul id="lang-select-list" class="select-list">
                    <li data-meta="en">${nn._([cms.global.PAGE_ID, 'setting-form', 'English'])}</li>
                    <li data-meta="zh">${nn._([cms.global.PAGE_ID, 'setting-form', 'Chinese'])}</li>
                    <li data-meta="other">${nn._([cms.global.PAGE_ID, 'setting-form', 'Others'])}</li>
                </ul>
                <input type="hidden" name="lang" id="lang" value="${lang}" class="select-meta" />
            </div>
        </div>
    </div>
    <div class="fminput clearfix">
        <label><acronym title="Required field" class="mark-required">*</acronym>${nn._([cms.global.PAGE_ID, 'setting-form', 'Audience region'])}</label>
        <div class="fmfield">
            <div class="select enable">
                <p class="select-btn"></p>
                <p class="select-txt"><a id="sphere-select-txt" href="#">${nn._([cms.global.PAGE_ID, 'setting-form', 'Select a region'])}</a></p>
                <ul id="sphere-select-list" class="select-list">
                    <li data-meta="en">${nn._([cms.global.PAGE_ID, 'setting-form', 'US'])}</li>
                    <li data-meta="zh">${nn._([cms.global.PAGE_ID, 'setting-form', 'Taiwan'])}</li>
                    <li data-meta="other">${nn._([cms.global.PAGE_ID, 'setting-form', 'Worldwide'])}</li>
                </ul>
                <input type="hidden" name="sphere" id="sphere" value="${sphere}" class="select-meta" />
            </div>
        </div>
    </div>
    <div class="fminput clearfix">
        <label><acronym title="Required field" class="mark-required">*</acronym>${nn._([cms.global.PAGE_ID, 'setting-form', 'Category'])}</label>
        <div class="fmfield">
            <div class="select disable category">
                <p class="select-btn"></p>
                <p class="select-txt"><a id="categoryId-select-txt" href="#">${nn._([cms.global.PAGE_ID, 'setting-form', 'Select a category'])}</a></p>
                <ul id="browse-category" class="select-list">
                    <!-- template = #category-list-tmpl-item -->
                </ul>
                <input type="hidden" name="categoryId" id="categoryId" value="${categoryId}" class="select-meta" />
            </div>
        </div>
    </div>
    <div class="fminput clearfix">
        <label>${nn._([cms.global.PAGE_ID, 'setting-form', 'Tags'])}</label>
        <div class="fmfield">
            <p class="text"><span><input type="text" name="tag" id="tag" maxlength="100" value="${tag}" class="text" /></span></p>
            <span class="notice">${nn._([cms.global.PAGE_ID, 'setting-form', 'Separate with commas'])}</span>
            <div class="tag-list hide clear">
                <h4>${nn._([cms.global.PAGE_ID, 'setting-form', 'Suggested Tags:'])}</h4>
                <ul id="tag-list">
                    <!-- template = #tag-list-tmpl-item -->
                </ul>
            </div>
        </div>
    </div>


<!-- IAP Start -->

    <div class="fminput clearfix">
        <label><acronym class="mark-required" title="Required field">*</acronym>
                ${nn._([cms.global.PAGE_ID, 'setting-form', 'Program price'])}</label>
        <div class="fmfield clearfix">
            <div class="select enable">
                <p class="select-btn"></p>
                <p class="select-txt"><a href="#">${nn._([cms.global.PAGE_ID, 'setting-form', 'Free program'])}</a>
                </p>
                <ul id="paid-select-list" class="select-list">
                    <li data-meta="false">${nn._([cms.global.PAGE_ID, 'setting-form', 'Free program'])}</li>
                    <li data-meta="true">${nn._([cms.global.PAGE_ID, 'setting-form', 'Paid program'])}</li>
                </ul>
                <input id="paidChannel" type="hidden" name="paidChannel" value="${paidChannel}" data-oristatus="${paidChannel}" class="select-meta">
            </div>
            <input type="hidden" id="isPublic" name="isPublic" value="${isPublic}">
        </div>
        <div id="paidBlock" class="fmfield clearfix hide">
            <div class="fminput clearfix">
                <label>${nn._([cms.global.PAGE_ID, 'setting-form', 'Program price'])}</label>
            </div>
            <div class="fminput clearfix">
                <label><acronym class="mark-required" title="Required field">*</acronym>
                        1. ${nn._([cms.global.PAGE_ID, 'setting-form', 'Price'])}</label>
                <div class="fmfield">
                    <div class="select enable">
                        <p class="select-btn"></p>
                        <p class="select-txt"><a href="#">${nn._([cms.global.PAGE_ID, 'setting-form', 'Select a price'])}</a>
                        </p>
                        <ul id="price-select-list" class="select-list">
                            <li data-meta="0.99">$ 0.99 USD</li>
                            <li data-meta="1.99">$ 1.99 USD</li>
                            <li data-meta="2.99">$ 2.99 USD</li>
                            <li data-meta="3.99">$ 3.99 USD</li>
                            <li data-meta="4.99">$ 4.99 USD</li>
                            <li data-meta="5.99">$ 5.99 USD</li>
                            <li data-meta="6.99">$ 6.99 USD</li>
                            <li data-meta="7.99">$ 7.99 USD</li>
                            <li data-meta="8.99">$ 8.99 USD</li>
                            <li data-meta="9.99">$ 9.99 USD</li>
                        </ul>
                        <input type="hidden" name="iap_price" value="" class="select-meta price">
                    </div>
                </div>
            </div>
            <div class="fminput clearfix">
                <label><acronym class="mark-required" title="Required field">*</acronym>
                        2. ${nn._([cms.global.PAGE_ID, 'setting-form', 'Publication name'])}</label>
                <div class="fmfield">
                    <p class="text">
                        <span>
                            <input type="text" name="iap_title" maxlength="100" value="" class="text iap_title">
                        </span>
                    </p>
                </div>
            </div>
            <div class="fminput clearfix">
                <label><acronym class="mark-required" title="Required field">*</acronym>
                        3. ${nn._([cms.global.PAGE_ID, 'setting-form', 'Description'])}</label>
                <div class="fmfield">
                    <p class="textarea">
                        <span>
                            <span>
                                <textarea name="iap_description" cols="80" class="textarea iap_description"></textarea>
                            </span>
                        </span>
                    </p>
                </div>
            </div>
            <div class="fminput clearfix">
                <label><acronym class="mark-required" title="Required field">*</acronym>
                        4. ${nn._([cms.global.PAGE_ID, 'setting-form', 'Picture for review'])}</label>
                <div id="iupPaid" class="fmfield upload-img banner-thumb review-thumb">
                    <div class="thumbnail">
                        <div class="img-wrap imgUpShow no-image">
                        </div>
                    </div>
                    <a class="normal-btn imgUploadBtn" href="javascript:void(0);" data-ori="${nn._([cms.global.PAGE_ID, 'setting-form', 'Upload'])}" data-uploading="${nn._([cms.global.PAGE_ID, 'setting-form', 'Uploading...'])}">${nn._([cms.global.PAGE_ID, 'setting-form', 'Upload'])}</a>
                    <input type="file" class="hide toUploadImage" accept="image/*" />
                    <p class="notice img-upload">${nn._([cms.global.PAGE_ID, 'setting-form', 'Please upload a screenshot which is at least 640 x 920 pixels and at least 72 dpi.'])}</p>
                    <p class="notice upload-notice hide">Please upload a screenshot which is at least 640 x 920 pixels and at least 72 dpi.</p>
                    <input type="hidden" class="imageUrl"    name="iap_thumbnail"    id="iap_thumbnail"    value="">
                    <input type="hidden" class="imageUrlOld" name="iap_thumbnailOld" id="iap_thumbnailOld" value="">
                    <a href="" class="icon-question is-with-tooltip">
                        <div class="tooltip-wrap">
                            ${nn._([cms.global.PAGE_ID, 'setting-form', 'Upload a screenshot of the product as it appears on the device. This screenshot is used for Apple’s review only and is not displayed on the App Store.'])}
                        </div>
                    </a>

                </div>

            </div>

        <a href="javascript:void(0)" id='paidRemove' class="fmfield clearfix icon-exclamation">
            <span>
            ${nn._([cms.global.PAGE_ID, 'setting-form', 'If you want to delete the product from App store or Google play please contact with us before a month.'])}
            </span>
        </a>
        </div>
    </div>

<!-- IAP end -->


    {{if cms.global.vIsYoutubeSync === true}}
    <div class="fminput clearfix">
        <label>${nn._([cms.global.PAGE_ID, 'setting-form', 'Episode sort by'])}</label>
        <div class="fmfield">
            <div >
            <label style="width:100%" for="st4">
                <input type="radio" id="st4" name="sorting" value="4" {{if sorting != 5}}checked{{/if}}/> ${nn._([cms.global.PAGE_ID, 'setting-form', 'Playlist or channel order'])}
            </label><br />
            <label style="width:100%" for="st5">
                <input type="radio" id="st5" name="sorting" value="5" {{if sorting === 5}}checked{{/if}}/> ${nn._([cms.global.PAGE_ID, 'setting-form', 'Playlist or channel reverse order'])}
            </label>
            </div>
        </div>
    </div>
    {{/if}}
    {{if cms.global.IS_REMARK !== true}}
    <div class="fminput clearfix hide">
        <label>{{html nn._([cms.global.PAGE_ID, 'setting-form', 'Select brand to auto share'])}}</label>
        <div class="fmfield">
            <div class="connect-switch">
                <img src="images/icon_fb.png" alt="facebook" class="icon" />
                <a href="#" class="switch-off">OFF</a>
            </div>
            <div class="connected brand hide">
                <div class="share-item first">
                    <img alt="facebook" src="images/icon_fb.png">
                    <div>
                        <div class="select enable">
                            <p class="select-btn"></p>
                            <p class="select-txt"><a href="#" id="surl-text">CTS</a></p>
                            <ul id="surl-ul" class="select-list" style="display: none;">
                                <!-- template = #surl-tmpl-item -->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="share-item">
                    <label id="fbTimeline-label" for="fbTimeline"><input type="checkbox" name="fbTimeline" id="fbTimeline" value="y" />${nn._([cms.global.PAGE_ID, 'setting-form', 'Timeline'])}</label>
                </div>
                <div class="share-item">
                    <label id="fbPage-label" for="fbPage"><input type="checkbox" name="fbPage" id="fbPage" value="y" />${nn._([cms.global.PAGE_ID, 'setting-form', 'Page'])}</label>
                    <div class="page-list disable">
                        <div class="page-list-right">
                            <div class="page-list-middle">
                                <input type="hidden" name="pageId" id="pageId" value="" />
                                <a href="#" class="select-page"><span id="page-selected">${nn._([cms.global.PAGE_ID, 'setting-form', 'Select facebook pages'])}</span></a>
                                <!-- template = #fb-page-list-tmpl -->
                            </div>
                        </div>
                    </div>
                    <a id="fb-reconnect" href="javascript:void(0);"><img src="images/icon_question.png" alt="" /><span class="tip"><img src="images/bg_tip_bottom.png" alt="" /><span class="tip-right"><span class="tip-middle">${nn._([cms.global.PAGE_ID, 'setting-form', 'If fail to auto share to Facebook, please go to CMS Settings to re-connect to Facebook and try again.'])}</span></span></span></a>
                </div>
            </div>
            <div class="reconnected hide">
                <img src="images/icon_fb.png" alt="facebook" />
                <p class="btns btn-reconnected"><span class="btn-right"><span class="btn-middle"><a href="#">${nn._([cms.global.PAGE_ID, 'setting-form', 'Restart connection'])}</a></span></span></p>
                <p class="reconnect-notice clear">${nn._([cms.global.PAGE_ID, 'setting-form', 'Auto sharing is disabled because permission to your connected account has been revoked, please click to restart the connection.'])}</p>
            </div>
        </div>
    </div>
    {{/if}}
    {{if cms.global.vIsYoutubeSync === true}}
    <div class="fminput clearfix">
        <input type="hidden" id="autoSync" name="autoSync" value="off" />
        <label>{{html nn._([cms.global.PAGE_ID, 'setting-form', 'Auto sync with video source'])}}</label>
        <div class="fmfield">
            <div class="connected brand youtube-sync">
                <div class="share-item first">
                    <img alt="youtube" src="images/icon_youtube_sm.png">
                    <a id="youtube-sync-switch" href="#" class="switch-off">OFF</a> 
                    <a id="fb-reconnect" href="javascript:void(0);">
                        <img src="images/icon_question.png" alt="">
                        <div id="msgAutoSync" class="overlay-h60 youtube-sync-tip">
                            <img src="images/bg_tip_top.png" alt="" class="up-arrow">
                            <div class="overlay-h60-left"></div>
                            <div class="overlay-h60-center">
                                {{html nn._([cms.global.PAGE_ID, 'setting-form', 'Program will auto-sync with video source at 0 AM, 8 AM, 12 PM, 2 PM, 6 PM and 9 PM every day. Manually do so by clicking "Sync" in program list.'])}}
                            </div>
                            <div class="overlay-h60-right"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
    {{if cms.global.USER_PRIV.isAutoOn === true}}
    <div class="fminput clearfix">
        <input type="hidden" id="StorePool" name="status" value="${status}" />
        <label>{{html nn._([cms.global.PAGE_ID, 'setting-form', 'Publish to App'])}}</label>
        <div class="fmfield">
            <div class="connected add-store">
                <div class="share-item first">
                    <img alt="youtube" src="images/icon_program_store.png">
                    <a id="add-store-switch" href="#" class="switch-off">No</a> 
                    <a id="fb-reconnect" href="javascript:void(0);">
                        <img src="images/icon_question.png" alt="">
                        <div id="msgAutoSync" class="overlay-h60 youtube-sync-tip">
                            <img src="images/bg_tip_top.png" alt="" class="up-arrow">
                            <div class="overlay-h60-left"></div>
                            <div class="overlay-h60-center">
                                {{html nn._([cms.global.PAGE_ID, 'setting-form', 'You can search the programs which has been added to "Main Channels" and "Program store" of My App.'])}}
                            </div>
                            <div class="overlay-h60-right"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
    <div class="fminput clearfix">
        <label for="name">${nn._([cms.global.PAGE_ID, 'setting-form', 'Facebook page'])}</label>
        <div class="fmfield">
            <img src="images/icon_fb.png" alt="facebook" class="icon" />
            <p class="text"><span>
            <input type="text" name="tmpSocialFeeds" id="tmpSocialFeeds" maxlength="100" value="" class="text" /></span></p>
            <input type="hidden" name="socialFeeds" id="socialFeeds" maxlength="100" value="${socialFeeds}" class="text" /></span></p>
            <span class="notice "></span>
        </div>
    </div>
    <div class="form-btn">
        <div class="form-btn-wrap">
            <p class="notice hide">${nn._([cms.global.PAGE_ID, 'setting-form', 'Please fill in all required fields.'])}</p>
            <p class="btns btn-save disable"><span class="btn-right"><span class="btn-middle"><input type="button" value="${nn._([cms.global.PAGE_ID, 'setting-form', 'Save'])}" /></span></span></p>
        </div>
    </div>
</form>
</div>
</div>
</script>
<!-- content-main-tmpl End -->

<script id="category-list-tmpl-item" type="text/x-jquery-tmpl">
{{if $item.dataArrayIndex($item.data) < 3}}
    <li class="first-row" data-meta="${id}">${name}</li>
{{else}}
    <li data-meta="${id}">${name}</li>
{{/if}}
</script>

<script id="tag-list-tmpl-item" type="text/x-jquery-tmpl">
{{each tags}}
    {{if $value != ""}}
        <li><span><a href="#">${$value}</a></span></li>
    {{/if}}
{{/each}}
</script>

<script id="surl-tmpl-item" type="text/x-jquery-tmpl">
<li class="surl-li {{if $item.selBrand === brand}}on{{/if}}" data-meta="${brand}">${brand}</li>
</script>

<script id="fb-page-list-tmpl" type="text/x-jquery-tmpl">
<ul id="fb-page-list" data-list="${cntPage}">
<!-- template = #fb-page-list-tmpl-item -->
</ul>
</script>

<script id="fb-page-list-tmpl-item" type="text/x-jquery-tmpl">
{{if name != ""}}
    <li><a href="#" data-id="${id}"><span>${name}</span></a></li>
{{else}}
    <li></li>
{{/if}}
</script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src="javascripts/libs/nn-sdk.js?v=411104"></script>
<script src="javascripts/libs/jquery.mousewheel.min.js?v=411104"></script>
<script src="javascripts/libs/jquery.ellipsis.min.js?v=411104"></script>
<script src="javascripts/libs/jquery.blockUI.min.js?v=411104"></script>
<script src="javascripts/libs/jquery.charcounter.min.js?v=411104"></script>
<script src="javascripts/libs/jquery.uniform.min.js?v=411104"></script>
<script src="javascripts/libs/jquery.tmpl.min.js?v=411104"></script>
<script src="javascripts/libs/jquery.cookie.min.js?v=411104"></script>
<script src="javascripts/libs/json2.min.js?v=411104"></script>
<script src="javascripts/libs/purl.min.js?v=411104"></script>
<script src="javascripts/libs/perfect-scrollbar.js?v=411104"></script>
<script src="javascripts/v3/config.js?v=411104"></script>
<script src="javascripts/v3/func.common.js?v=411104"></script>
<script src="javascripts/v3/func.channel.js?v=411104"></script>
<script src="javascripts/v3/domready.common.js?v=411104"></script>
<script src="javascripts/v3/domready.channel.js?v=411104"></script> 
</body>
</html>